.actual-time {
  color: red;
}

.leg {
  border-spacing: 0px;
}
tr.stop td {
  padding: 0px;
  position: relative;
}
tr.stop td:nth-child(1) {
  border-right: 1px solid black;
  padding-right: 15px;
}
tr.stop td:nth-child(2) {
  padding-left: 15px;
}
tr.stop td:nth-child(2):before {
  content: "";
  position: absolute;
  border-radius: 15px;
  width: 15px;
  height: 15px;
  left: -7.5px;
  background-color: blue;
}
tr.stop.arrival td:nth-child(2):before {
  bottom: 0px;
}
tr.stop.departure td:nth-child(2):before {
  top: 0px;
}