
<table class="leg">
    <tbody>
        <tr>
            <td>{{ leg.fromStation.display }}</td>
            <td class="map-stop departure"></td>
            <td>{{ leg.scheduledDeparture.format("HH:mm") }}</td>
            <td>
                <span *ngIf="(leg.fromStationDetails && !leg.fromStationDetails?.departedOnTime)" class="actual-time">
                    {{ leg.actualDeparture?.format("HH:mm") }}
                </span>
            </td>
        </tr>
        <tr>
            <td>{{ leg.toStation.display }}</td>
            <td class="map-stop arrival"></td>
            <td>{{ leg.scheduledArrival.format("HH:mm") }}</td>
            <td>
                <span *ngIf="(leg.toStationDetails && !leg.toStationDetails?.arrivedOnTime)" class="actual-time">
                    {{ leg.actualArrival?.format("HH:mm") }}
                </span>
            </td>
        </tr>
    </tbody>
</table>