<!-- TODO: Submit redirects to /results -->
<form class="main-item" [formGroup]="search" (ngSubmit)="onSubmit()">
    <fieldset>
        <!-- Route locations -->
        <legend>Route details</legend>
        <label for="from-station-field">Station From:</label>
        <input id="from-station-field"
               type="text"
               class="form-control"
               formControlName="fromStation"
               [ngModel]="stations"
               [ngbTypeahead]="stationSearch"
               [inputFormatter]="stationFormatter"
               [resultFormatter]="stationFormatter"
               editable=false />

        <label for="to-station-field">Station To:</label>
        <input id="to-station-field"
               type="text"
               class="form-control"
               [ngModel]="stations"
               formControlName="toStation"
               [ngbTypeahead]="stationSearch"
               [inputFormatter]="stationFormatter"
               [resultFormatter]="stationFormatter"
               editable=false />
    </fieldset>
    <fieldset>
        <!-- Date range -->
        <legend>Date range</legend>
        <label for="to-station-field">Date From:</label>
        <input formControlName="fromDate" type="date">

        <label>Date To:</label>
        <input formControlName="toDate" type="date">

        <div id="days-radio-group" class="btn-group" ngbRadioGroup name="radioBasic" formControlName="days">
            <label class="btn-primary" ngbButtonLabel>
                <input ngbButton type="radio" value="WEEKDAY">
                Weekdays
            </label>
            <label class="btn-primary" ngbButtonLabel>
                <input ngbButton type="radio" value="SATURDAY">
                Saturdays
            </label>
            <label class="btn-primary" ngbButtonLabel>
                <input ngbButton type="radio" value="SUNDAY">
                Sundays
            </label>
        </div>
    </fieldset>
    <fieldset>
        <legend>Delay details</legend>
        <!-- Tolerance input -->
        <label>Delay (mins):</label>
        <input formControlName="delay" type="number">
    </fieldset>
    <button type="submit">Search</button>
</form>
