<!-- TODO: Submit redirects to /results -->
<form class="main-item container mt-2" [formGroup]="search" (ngSubmit)="onSubmit()">
  <!-- Route locations -->
  <fieldset>
      <legend>Route details</legend>
      <div class="row">
        <div class="form-group col-sm">
          <label for="from-station-field" class="form-control-label">From:</label>
          <input id="from-station-field"
          class="form-control"
          type="text"
          formControlName="fromStation"
          [ngbTypeahead]="stationSearch"
          [inputFormatter]="stationFormatter"
          [resultFormatter]="stationFormatter"
          placeholder="Station"
          [class.is-invalid]="isShowInvalidStation(fromStation)" />
          <div class="invalid-feedback">Please pick a valid station from the list</div>
        </div>
        <div class="form-group col-sm">
          <label for="to-station-field" class="form-control-label">To:</label>
          <input id="to-station-field"
          class="form-control"
          type="text"
          formControlName="toStation"
          [ngbTypeahead]="stationSearch"
          [inputFormatter]="stationFormatter"
          [resultFormatter]="stationFormatter"
          placeholder="Station"
          [class.is-invalid]="isShowInvalidStation(toStation)"/>
          <div class="invalid-feedback">Please pick a valid station from the list</div>
        </div>
      </div>
    </fieldset>
    <!-- Date range -->
    <fieldset class="form-group">
        <legend>Date range</legend>
        <div class="row">
          <div class="col-sm">
            <label for="from-date-field">From:</label>
            <input id="from-date-field"
            class="form-control"
            type="date"
            formControlName="fromDate"
            ngbDatepicker
            #fromDatePicker="ngbDatepicker"
            (focus)="fromDatePicker.open()"
            [maxDate]="today"
            [class.is-invalid]="isShowInvalidDate(fromDate)"/>
            <div class="invalid-feedback">Please pick a date</div>
          </div>
          <div class="col-sm">
            <label for="to-date-field">To:</label>
            <input id="to-date-field"
            class="form-control"
            type="date"
            formControlName="toDate"
            ngbDatepicker
            #toDatePicker="ngbDatepicker"
            (focus)="toDatePicker.open()"
            [maxDate]="today"
            [class.is-invalid]="isShowInvalidDate(toDate)">
            <div class="invalid-feedback">Please pick a date after the <em>from</em> date</div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <div id="days-radio-group" class="btn-group" role="group" ngbRadioGroup name="radioBasic" formControlName="days">
              <label class="btn btn-primary active" ngbButtonLabel>
                  <input ngbButton type="radio" value="WEEKDAY" class="form-control">
                  Weekdays
              </label>
              <label class="btn btn-primary" ngbButtonLabel>
                  <input ngbButton type="radio" class="form-control" value="SATURDAY">
                  Saturdays
              </label>
              <label class="btn btn-primary" ngbButtonLabel>
                  <input ngbButton type="radio" class="form-control" value="SUNDAY">
                  Sundays
              </label>
            </div>
          </div>
        </div>
    </fieldset>
    <!-- Tolerance input -->
    <fieldset class="form-group">
        <legend>Delay details</legend>
        <label for="delay-field">Delay (mins):</label>
        <input id="delay-field" class="form-control" formControlName="delay" type="number">
    </fieldset>
    <button type="submit" class="btn btn-primary btn-block">Search</button>
</form>
